<% include '_preamble.tex.j2' %>

%-------------------------------------------------------------------------------
\begin{document}

\makecvheader[C]

%-------------------------------------------------------------------------------
% CV/RESUME CONTENT
%-------------------------------------------------------------------------------
<% for s in sections %>
\input{<< section_dir >>/<< s.key >>.tex}
<% endfor %>

%-------------------------------------------------------------------------------
\end{document}
